{% extends 'task_manager/base.html' %}

{% load i18n %}
{% load bootstrap4 %}

{% block title %}{% translate 'Delete account' %}{% endblock %}

{% block content %}
<main role="main" class="container">
  <div class="jumbotron">
    <h1>{% translate 'Delete account' %}</h1>

    <form method="post">
      {% csrf_token %}
      <p>{% translate 'Are you sure you want to delete the account' %} {{ object.username }}?</p>
      <input type="submit" class="btn btn-danger" value="{% translate 'Delete' %}">
      <a class="btn btn-outline-primary" href="{% url 'users' %}">{% translate 'Return to site' %}</a>
    </form>

  </div>
</main>
{% endblock %}
