# letsencrypt-nginx-proxy-companion credentials
# https://github.com/jwilder/docker-letsencrypt-nginx-proxy-companion
# ------------------------------------------------------------------------------
# Letsencrypt settings
DEFAULT_EMAIL=mail@yourdomain.com # Enter email to use for Letsencrypt CA
