{% extends 'task_manager/bootstrap.html' %}

{% load i18n %}
{% load bootstrap4 %}
{% load static %}

{% block bootstrap4_extra_head %}
<link rel="stylesheet" href="{% static 'task_manager/css/style.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
<link rel="icon" type="image/png" href="{% static 'task_manager/images/favicon.png' %}">
{% endblock %}

<body class="d-flex flex-column min-vh-100">
  {% block bootstrap4_content %}
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark mb-1">
    <a class="navbar-brand" href="/">{% translate 'Task Manager' %}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">

      <!-- Navigation links -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'users' %}">{% translate 'Users' %}</a>
        </li>

        {% if not request.user.is_anonymous %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'statuses' %}">{% translate 'Statuses' %}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'labels' %}">{% translate 'Labels' %}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'tasks' %}">{% translate 'Tasks' %}</a>
        </li>
        {% endif %}
      </ul>

      <!-- Log in / Sign up / Logout links -->
      <ul class="navbar-nav mr-2">
        {% if request.user.is_anonymous %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}">{% translate 'Log in' %}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'signup' %}">{% translate 'Sign up' %}</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'user_update' request.user.pk %}">
            <i class="fa fa-user" aria-hidden="true"></i> {{ request.user.username }}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">{% translate 'Logout' %}</a>
        </li>
        {% endif %}
      </ul>

      <!-- Language switcher -->
      <div class="navbar-nav">
        <form action="{% url 'set_language' %}" method="post">
          {% csrf_token %}
          <button name="language" value="en" class="btn btn-sm btn-outline-light">🇺🇸</button>
          <button name="language" value="ru" class="btn btn-sm btn-outline-light">🇷🇺</button>
        </form>
      </div>

    </div>
  </nav>
  {% autoescape off %}{% bootstrap_messages %}{% endautoescape %}


  <main role="main" class="container">
    <div class="jumbotron overflow-auto">
      {% block content %}
      {% endblock %}
    </div>
  </main>

  {% endblock %}
</body>
