{% extends 'task_manager/base.html' %}

{% load i18n %}

{% block title %}{% translate "Labels" %}{% endblock %}

{% block content %}
<h1 class="my-4 d-inline-block">{% translate "Labels" %}</h1>
<a class="btn btn-outline-primary d-inline-block mb-2 ml-2" href="{% url 'label_create' %}">{% translate "Create label" %}</a>

<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>{% translate "Name" %}</th>
      <th>{% translate "Created on" %}</th>
      <th></th>
    </tr>
  </thead>
  <tbody>

    {% for label in label_list %}
    <tr>
      <td>{{ label.id }}</td>
      <td>{{ label.name }}</td>
      <td>{{ label.created_on|date:"d.m.Y H:i:s" }}</td>
      <td>
        <a class="btn btn-sm btn-outline-primary btn-action mr-1" href="{% url 'label_update' label.id %}" title="{% translate 'Edit' %}"><i class="fas fa-pencil-alt"></i></a>
        <a class="btn btn-sm btn-outline-danger btn-action" href="{% url 'label_delete' label.id %}" title="{% translate 'Delete' %}"><i class="fas fa-trash"></i></a>
      </td>
    </tr>
    {% endfor %}

  </tbody>
</table>
{% endblock %}
