{% extends 'task_manager/base.html' %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% translate 'Tasks' %}{% endblock %}

{% block content %}
<h1 class="my-4 d-inline-block">{% translate 'Tasks' %}</h1>
<a class="btn btn-outline-primary d-inline-block mb-2 ml-2" href="{% url 'task_create' %}">{% translate 'Create task' %}</a>

<form class="form-inline center" method="get">
  {% crispy task_filter.form %}
  {% crispy toggle_self_tasks %}
</form>

<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>{% translate 'Name' %}</th>
      <th>{% translate 'Status' %}</th>
      <th>{% translate 'Creator' %}</th>
      <th>{% translate 'Performer' %}</th>
      <th>{% translate 'Created on' %}</th>
      <th></th>
    </tr>
  </thead>
  <tbody>

    {% for task in task_filter.queryset %}
    <tr>
      <td>{{ task.id }}</td>
      <td>
        <a href="{% url 'task_detail' task.id %}">{{ task.name }}</a>
      </td>
      <td>{{ task.status }}</td>

      {% if task.creator.first_name or task.creator.last_name %}
        <td>{{ task.creator.first_name }} {{ task.creator.last_name }}</td>
      {% else %}
        <td>{{ task.creator.username }}</td>
      {% endif %}

      {% if task.performer.first_name or task.performer.last_name %}
        <td>{{ task.performer.first_name }} {{ task.performer.last_name }}</td>
      {% else %}
        <td>{{ task.performer.username }}</td>
      {% endif %}

      <td>{{ task.created_on|date:"d.m.Y H:i:s" }}</td>
      <td>
        <a href="{% url 'task_update' task.id %}">{% translate 'Edit' %}</a>
        <br>
        <a href="{% url 'task_delete' task.id %}">{% translate 'Delete' %}</a>
      </td>
    </tr>
    {% endfor %}

  </tbody>
</table>
{% endblock %}
