{% extends 'task_manager/base.html' %}

{% load i18n %}
{% load bootstrap4 %}

{% block title %}{% translate "Delete task" %}{% endblock %}

{% block content %}
<main role="main" class="container">
  <div class="jumbotron">

    <h1 class="my-4">{% translate "Delete task" %}</h1>

    <form method="post">
      {% csrf_token %}
      <p>{% translate 'Are you sure you want to delete the task' %} {{ object.name }}?</p>
      <input type="submit" class="btn btn-danger" value="{% translate 'Delete' %}">
      <a class="btn btn-outline-primary" href="{% url 'tasks' %}">{% translate 'Return to tasks list' %}</a>
    </form>

  </div>
</main>

{% endblock %}
