{% extends 'task_manager/base.html' %}

{% load i18n %}
{% load bootstrap4 %}

{% block title %}{% translate "Users" %}{% endblock %}

{% block content %}
<h1 class="my-4">{% translate "Users" %}</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>{% translate "Username" %}</th>
      <th>{% translate "Full name" %}</th>
      <th>{% translate "Signup date" %}</th>
      <th></th>
    </tr>
  </thead>
  <tbody>

    {% for user in user_list %}
    <tr>
      <td>{{ user.id }}</td>
      <td>{{ user.username }}</td>
      <td>{{ user.first_name }} {{ user.last_name }}</td>
      <td>{{ user.signup_date }}</td>
      <td>
        <a href="{% url 'user_update' user.id %}">{% translate "Edit" %}</a>
        <br>
        <a href="{% url 'user_delete' user.id %}">{% translate "Delete" %}</a>
      </td>
    </tr>
    {% endfor %}

  </tbody>
</table>
{% endblock %}
