{% extends 'task_manager/base.html' %}

{% load i18n %}

{% block title %}{% translate "Users" %}{% endblock %}

{% block content %}
<h1 class="my-4">{% translate "Users" %}</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>{% translate "Username" %}</th>
      <th>{% translate "Full name" %}</th>
      <th>{% translate "Signup date" %}</th>
      <th></th>
    </tr>
  </thead>
  <tbody>

    {% for user in user_list %}
    <tr>
      <td>{{ user.id }}</td>
      <td>{{ user.username }}</td>
      <td>{{ user.first_name }} {{ user.last_name }}</td>
      <td>{{ user.signup_date|date:"d.m.Y H:i:s" }}</td>
      <td>
        <a class="btn btn-sm btn-outline-primary btn-action mr-1" href="{% url 'user_update' user.id %}" title="{% translate 'Edit' %}"><i class="fas fa-pencil-alt"></i></a>
        <a class="btn btn-sm btn-outline-danger btn-action" href="{% url 'user_delete' user.id %}" title="{% translate 'Delete' %}"><i class="fas fa-trash"></i></a>
      </td>
    </tr>
    {% endfor %}

  </tbody>
</table>
{% endblock %}
